<html>
<head>
</head>
<body>
    <style type="text/css">
        table, th, td{
            border: 1px solid black;
        }
    </style>

{% for line in details %}
<h2>RecipeID: {{line.recipeID}}<br></h2>

<h2>Recipe Title: {{line.title}}<br></h2>

Number of Servings: {{line.numServings}}<br>

Posted By: {{line.postedBy}}<br>
{% endfor %}
<p></p>
<h3>Steps:</h3>
{% for line in steps %}

{{line.stepNo}}
{{line.sDesc}}<br>

{% endfor %}
<p></p>

<h3>Ingredients</h3>
<table>
	<th>Name</th>
	<th>Amount</th>
    <th>Unit</th>
    <th>Purchase Link</th>
{% for line in ingredients %}
<tr>
<td>{{line.iName}}</td>
<td>{{line.amount}}</td>
<td>{{line.unitName}}</td>
<td>{{line.purchaseLink}}</td>
</tr>
{% endfor %}
</table>
<p></p>


{% for line in pictures %}
<img src= {{line.pictureURL}} alt="Girl in a jacket" width="250" height="200">
{% endfor %}
<form action="/show_converted_recipe" method="POST">
<label for="unit">Choose the unit you want to change from:</label>
    <select name="unit" id="unit">
        {% for line in units %}
        <option value={{line.unitName}}>{{line.unitName}}</option>
        {% endfor %}
    </select></br>
    <label for="unitd">Choose a unit you want to change to:</label>
    <select name="unitd" id="unitd">
        <option value="gm">gm</option>
        <option value="oz">oz</option>
        <option value="lb">lb</option>
        <option value="ml">ml</option>
        <option value="tsp">tsp</option>
        <option value="tbsp">tbsp</option>
    </select></br>
    <input type="submit" value="Convert"><br>
</form>
<h3>Reviews</h3>
<table>
	<th>Review Title</th>
	<th>Review Description</th>
    <th>Rview Stars</th>
    <th>Review By</th>
{% for line in review %}
<tr>
<td>{{line.revTitle}}</td>
<td>{{line.revDesc}}</td>
<td>{{line.stars}}</td>
<td>{{line.userName}}</td>
</tr>
{% endfor %}
</table>
<p></p>
<form action="/review" methods="'POST">
    <input type="submit" value="Post a review">
</form>

<a href="/home">Go back</a><br>
<a href="/logout">Logout</a>

</body>


</html>